@{
    ViewData["Title"] = "Home Page";
}

@model int[]

<div class="text-center">
    <h1 class="display-4">Here are some numbers!</h1>
    @{
    foreach (var number in Model)
    {
    <h3>@number</h3>
    }
    }
</div>